# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all variable files with secrets
**/*.tfvars
**/*.tfvars.json

# override files
*.tfvars.json.override
*.tfvars.override
